<ul class="nav pull-right" id="account-nav">
  <li class="dropdown">
  {% if g.identity.account %}
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
      {% if g.identity.account.avatar_url -%}
      <img class="gravatar" height="28" width="28" src="{{ g.identity.account.avatar_url }}"/>
      {%- endif %} {{ g.identity.account.login }}<b class="caret"></b>
    </a>
    {{ menubuilder.render('top_account_nav') }}
  {% else %}
  <a href="{{ url_for('account.signin') }}">
    <button class="btn btn-info">{% trans %}Sign-In{% endtrans %}</button>
  </a>
  {% endif %}
  </li>
</ul>
