<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
    <meta charset="utf-8">

    <link rel="icon" type="image/ico" href="{{ url_for('static', filename='favicon.ico') }}"/>
    <link rel="stylesheet" media="screen" href="{{ url_for('static', filename='ext/bootstrap/css/bootstrap{0}.css'.format('' if config.DEBUG else '.min')) }}"/>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" media="screen" href="{{ url_for('static', filename='ext/bootstrap/css/bootstrap-responsive{0}.css'.format('' if config.DEBUG else '.min')) }}"/>

    <script type="text/javascript" src="{{ url_for('static', filename='ext/jquery-1.8.3{0}.js'.format('' if config.DEBUG else '.min')) }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='ext/bootstrap/js/bootstrap{0}.js'.format('' if config.DEBUG else '.min')) }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='salt-ci.css') }}">

    <!--[if !IE 7]>
      <style type="text/css">
        #body-wraper {display:table;height:100%}
      </style>
    <![endif]-->

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <title>Salt-CI &mdash; {% block title %}{% trans %}Welcome{% endtrans %}{% endblock %}</title>
    {% block head %}{% endblock %}
  </head>
  <body>
    <div id="navbar" class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner logo">
        <div class="container">
          <a class="brand" href="{{ url_for('main.index') }}">Salt-CI</a>
          <div class="nav-collapse collapse">
            {%- include '_account_nav.html' -%}
          </div>
            <!-- <ul class="nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#contact">Contact</a></li>
            </ul> -->
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
    <div id="body-wrapper">
      <div id="main-content" class="container">
        {%- include '_flash_messages.html' -%}
        {%- block contents %}{% endblock -%}
      </div>
    </div>
    <div id="footer">
      {%- include '_footer.html' -%}
    </div>
    {% block footer %}{% endblock %}
    {% if (config.DEBUG or config.SQLALCHEMY_RECORD_QUERIES) and account_is_admin==True %}
      {%- include '_db_queries.html' -%}
    {% endif %}
    <script type="text/javascript" charset="utf-8">
      $(document).ready(function() {
        $('.alert-success').delay(7500).fadeOut();
      });
    </script>
  </body>
</html>
