@font-face {
  font-family: "Gputeks Regular";
  src: url(fonts/Gputeks-Regular.ttf);
}

@font-face {
  font-family: "Gputeks Bold";
  src: url(fonts/Gputeks-Bold.ttf);
}

@font-face {
  font-family: "saxMono";
  src: url(fonts/saxmono.ttf);
}

@mixin initial_html_and_body {
  margin: 0px;
  padding: 0px;
  font-family: "Gputeks Regular";
  /*font-size: 13px;*/
  height: 100%;
}

$footer-height: 35px;
$body-padding-top: 60px;

html {
  @include initial_html_and_body;
}

body {
  @include initial_html_and_body;
}

#navbar.navbar.navbar-fixed-top {

  div.logo {
    div.container {
      a.brand {
        background-image: url(salt-logo-40.png);
        background-repeat: no-repeat;
        background-position: left center;
        padding-left: 45px;
      }
    }
  }

  ul#account-nav.nav {
    li.dropdown {
      padding-top: 2px;
      padding-bottom: 2px;

      a {
        padding-top: 3px;
        padding-bottom: 2px;

        img.gravatar {
          border: 1px solid #444;
          box-shadow: 2px 2px 8px #444;
        }
      }
    }
  }
}

#body-wrapper {
  min-height: 100%;
}

#main-content {
  overflow: auto;
  padding-top: $body-padding-top;
  padding-bottom: $footer-height;
}

#footer {
  margin-top: -$footer-height;
  height: $footer-height;
  clear: both;
  text-align: center;
  color: #fff;
  background-color: #1b1b1b;
  background-image: linear-gradient(to bottom, #222222, #111111);
  background-repeat: repeat-x;
  border-top: 1px solid #252525;
  a { color: #fff; }
  a:hover { color: #999; }
}

fieldset.hook-urls {
  margin-left: 20px;
  legend, label, input, span {
    font-size: smaller;
  }
}
